
 
 
 body{

    background: url('../Resources/Icon/fon.webp');
    }
    
    .menu{
       margin-left: -2vh;
    margin-top: -2vh;
    width: 213.7vh;
    height: 11.5vh;
    position: fixed;
     background: rgba(0, 0, 0, 0.8);
     z-index: 999;
    
    }
    
    .logo {
       cursor: pointer;
         margin-top: 1vh;
       margin-left: 6vw;
    }
    
    
    nav {
       width: 70vw;
       height: 8vh;
       font-size: 20px;
       margin-left: 30vh;
       margin-top: -13vh;
    }
    
    
    a{
       text-decoration: none;
       color: white;
       text-align: center;
       font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    }
     
     li {
       display: inline-block;
        border-spacing: 10vh;
         padding: 12px 50px;
    }
    ul li:hover {
       color: white;
       transition: 0.3s;
    }
   
    .errorlog{
        margin-left: 45vh;
        color: red;
        font-size: 20px;
    }
   .error{
       color: red;
       font-size: 20px;
   }
   
    .form1 {
      border-radius:50px;
       transform: scale(0.8);
       position: absolute;
       margin-top: 12vh;
       margin-left: 45vh;
       width: 120vh;
       height: 80vh;
       background: rgba(0, 0, 0, 0.9);   
    }
   .image{
      margin-top: 2vh;
      margin-left: 50vh;
   }
   .eticheta{
      font-family: system-ui;
      font-size: 25px;
      color: white;
      margin-left: 55vh;
   }
   .text {
      margin-left:40vh;
      margin-top: 5vh;
      color: white;
      font-family: system-ui;
      font-size: 17px;
   }
   .username{
      margin-left: 8.5vh;
      padding:5px;
      border-radius:8px
   }

   .password{
      margin-left: 9vh;
      padding:5px;
      border-radius:8px
   }

   .submit {
      font-size: 15px;
      margin-top: 5vh;
      font-family: system-ui;
      font-weight: bold;
      width: 4cm;
      margin-left: 50vh;
      color: white;
      background-color: #26378F;
      padding:15px;
      border-radius:50px
   }
   
   .errorr{
      display: none;
      margin-top: -0.4vh;
      height: 5vh;
      width: 220vh;
      background:  rgba(207,12,12,1) ;     
   }
   .redalert{  
      margin-left: 80vh;
      width: 60vh;
      height: 7vh;
      font-size: 20px;
      color: #ffffff;
   }