
 
 
 body{

 background: url('../Resources/Icon/fon.webp');
 }
 
 .menu{
    margin-left: -2vh;
 margin-top: -2vh;
 width: 213.7vh;
 height: 11.5vh;
 position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
 
 }
 
 .logo {
    cursor: pointer;
      margin-top: 1vh;
    margin-left: 6vw;
 }
 
 
 nav {
    width: 70vw;
    height: 8vh;
    font-size: 20px;
    margin-left: 30vh;
    margin-top: -13vh;
 }
 
 
 a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
 }
  
  li {
    display: inline-block;
     border-spacing: 10vh;
      padding: 12px 50px;
 }
 ul li:hover {
    color: white;
    transition: 0.3s;
 }



 .form1 {
    display:block;
   border-radius:50px;
    transform: scale(0.8);
    position: absolute;
    margin-top: 5vh;
    margin-left: 40vh;
    width: 130vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);   
 }
.image{
   margin-top: 2vh;
   margin-left: 55vh;
}
.eticheta{
   font-family: system-ui;
   font-size: 25px;
   color: white;
   margin-left: -5vh;
   text-align: center;
}
.text {
   margin-left:40vh;
   margin-top: 5vh;
   color: white;
   font-family: system-ui;
   font-size: 17px;
}
.username{
   margin-left: 13.5vh;
   padding:5px;
   border-radius:8px
}
.email{
   margin-left: 18.4vh;
   padding:5px;
   border-radius:8px
}
.password{
   margin-left: 14vh;
   padding:5px;
   border-radius:8px
}
.confirm{
   margin-left: 5vh;
   padding:5px;
   border-radius:8px
}
.submit {
   font-size: 15px;
   margin-top: 5vh;
   font-family: system-ui;
   font-weight: bold;
   width: 5cm;
   margin-left: 56vh;
   color: white;
   background-color: #26378F;
   padding:15px;
   border-radius:50px
}

.error{
   color: red;
   font-family: system-ui;
}
.green{
   color:green;
   font-family: system-ui;
}
.form2 {
   display: none;
   border-radius:50px;  
   transform: scale(0.8);
   position: absolute;
   margin-top: 10vh;
   margin-left: 40vh;
   width: 130vh;
   height: 80vh;
   background: rgba(0, 0, 0, 0.9);   
}
.image2{
   margin-top: 15vh;
   margin-left: 55vh;
   }
.text3{
      margin-left:30vh;
     margin-top: 15vh;
     color: white;
     font-family: system-ui;
     font-size: 25px;
}