
 
 
 body{
 background: #2d2d2d;
 }
 
 .menu{
    margin-left: -1vh;
 margin-top: -20vh;
 width: 213vh;
 height: 12vh;
 position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
 
 }
 
 .logo {
    cursor: pointer;
      margin-top: 1vh;
    margin-left: 6vw;
 }
 
 
 nav {
    width: 70vw;
    height: 8vh;
    font-size: 20px;
    margin-left: 30vh;
    margin-top: -13vh;
 }
 
 
 a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
 }
  
  li {
    display: inline-block;
     border-spacing: 10vh;
      padding: 12px 50px;
 }
 ul li:hover {
    color: white;
    transition: 0.3s;
 }

 .form {
     margin-top: 20vh;
   
 }
input {
   padding:10px;
 border-radius:10px;
 font-family:inherit;
 font-size: inherit;
  
}
.submit {
   background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 }
 p {
     color: white;
     font-size: 18px;
 }
 .rosu {
     color:red;
 }
 h2 {
    color:white;
    font-size: 25px;
 }
 .form {
    color: aliceblue;
    text-align: center;
    width: 120vh;
     height: 80vh;
     background: black;
     margin-left: 40vh;
 }
.value {
color: darkgoldenrod;
}
.form2 {
   color: aliceblue;
   text-align: center;
   width: 120vh;
    height: 100vh;
    background: black;
    margin-left: 40vh;
}
.form2 {
   margin-top: 20vh;
 
}