
 
 
 body{

   background: url('../Resources/Icon/fon.webp');
   }
   
   .menu{
      margin-left: -2vh;
   margin-top: -2vh;
   width: 213.7vh;
   height: 11.5vh;
   position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
   
   }
   
   .logo {
      cursor: pointer;
        margin-top: 1vh;
      margin-left: 6vw;
   }
   
   
   nav {
      width: 70vw;
      height: 8vh;
      font-size: 20px;
      margin-left: 30vh;
      margin-top: -13vh;
   }
   
   
   a{
      text-decoration: none;
      color: white;
      text-align: center;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
   }
    
    li {
      display: inline-block;
       border-spacing: 10vh;
        padding: 12px 50px;
   }
   ul li:hover {
      color: white;
      transition: 0.3s;
   }
  
  
  
   .form1 {
      display: block;
      border-radius:50px;  
      transform: scale(0.8);
      position: absolute;
      margin-top: 4vh;
      margin-left: 40vh;
      width: 130vh;
      height: 104vh;
      background: rgba(0, 0, 0, 0.9);   
   }
  .image{
     margin-top: 2vh;
     margin-left: 55vh;
  }
  .eticheta{
     font-family: system-ui;
     font-size: 25px;
     color: white;
     margin-left: -2vh;
     text-align: center;
  }
  .text {
     margin-left:46vh;
     margin-top: 5vh;
     color: white;
     font-family: system-ui;
     font-size: 17px;
  }
  .name{
     margin-left: 5vh;
     padding:5px;
     border-radius:8px
  }
   .radio{
      margin-left: 46vh;
      font-family: system-ui;
      color: white;
   }
   textarea{
      border-radius:10px;  
      margin-left: 46vh;
   }
  .submit {
     font-size: 15px;
     margin-top: 5vh;
     font-family: system-ui;
     font-weight: bold;
     width: 5cm;
     margin-left: 54vh;
     color: white;
     background-color: #26378F;
     padding:15px;
     border-radius:50px
  }
  
.image1{
   margin-top: 2vh;
   margin-left: 30vh;
}
.text2 {
   margin-top: 10vh;
   font-size: 25px;
   text-align: center;
   font-family: system-ui;
   color: white;
}
.green{
   font-family: system-ui;
   color: green;
}
.error   {
   font-family: system-ui;
   color: red;
}
.gray {
   color: gray;
   font-family: system-ui;
}
.form2 {
   display: none;
   border-radius:50px;  
   transform: scale(0.8);
   position: absolute;
   margin-top: 10vh;
   margin-left: 45vh;
   width: 120vh;
   height: 80vh;
   background: rgba(0, 0, 0, 0.9);   
}
.image2{
   margin-top: 5vh;
   margin-left: 55vh;
   }
.text3{
       margin-left:20vh;
     margin-top: 5vh;
     color: white;
     font-family: system-ui;
     font-size: 25px;
}
.gray2{
   font-family: system-ui;
   font-size: 25px;
   color:gray;
}
.red{
   color: red;
   font-weight: bold;
   font-size: 25px;
   font-family: system-ui;

}
.errorr{
   display: none;
   margin-top: -0.4vh;
   height: 4vh;
   width: 220vh;
   background:  rgba(207,12,12,1) ;     
}
.redalert{  
   margin-left: 80vh;
   width: 60vh;
   height: 7vh;
   font-size: 20px;
   color: #ffffff;
}
.link{
   background-color: #2437a6; 
   border: none;
   color: white;
   padding: 4px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px; 
}