*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 


body{
background: #2d2d2d;
}

.menu{
   margin-left: -1vh;
margin-top: -1.1vh;
width: 211vh;
height: 13vh;
position: fixed;
 background: rgba(0, 0, 0, 0.8);
 z-index: 999;

}

.logo {
   cursor: pointer;
     margin-top: 2vh;
   margin-left: 6vw;
}


nav {
   width: 70vw;
   height: 8vh;
   font-size: 20px;
   margin-left: 35vh;
   margin-top: -9vh;
}


a{
   text-decoration: none;
   color: white;
   text-align: center;
   font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}
 
 li {
   display: inline-block;
    border-spacing: 10vh;
     padding: 12px 50px;
}
ul li:hover {
   color: white;
   transition: 0.3s;
}

.ul{
   display: inline-block; 
   margin-top: 15vh;
   margin-left: 3vw;
   width: 200vh;
}
.image1:hover{
   transform: scale(1.05);
   transition: 500ms;
   cursor: pointer;
}
.image2:hover{
   transform: scale(1.05);
   transition: 500ms;
   cursor: pointer;
}
.image3:hover{
   transform: scale(1.05);
   transition: 500ms;
   cursor: pointer;
}
.image4:hover{
   transform: scale(1.05);
   transition: 500ms;
   cursor: pointer;
}
.image5:hover{
   transform: scale(1.05);
   transition: 500ms;
   cursor: pointer;
}
.image6:hover{
   transform: scale(1.05);
   transition: 500ms;
   cursor: pointer;
}



