{	
	margin: 0;
	padding: 0;
}
body{
	background:#2d2d2d ;
	width: 90vh;
	height: 200vh;
}
.back{
 margin-top: -10vh;
 margin-left: 17vh;
 cursor: pointer;	
}
.back:hover{
	transition: 500ms;
	transform: scale(1.05) ;
}
nav {
	background: url(Resources/Modeles/x7/x7.jpg);
	width: 98.9vw;
	height: 100vh;
	margin-top: -30vh ;
	margin-left: -1.2vh;
}

.logo {
	cursor: pointer;
	width: 6vw;
	margin-left: 2vw;
	margin-top:2vh;
}
a{
	text-decoration: none;
	color:white;
}


.text { 
	transform:translate(70%,0%);
	margin: 30px;
	color: white;
	text-align: center;
	font-family: inherit;
	font-size: 18px;
	font-family: Optima, sans-serif	;
}
.img2 {
	margin-left:-2vh;
	background: url(Resources/Modeles/x7/xx7.jpg);
	width: 99.3vw;
	height: 100vh;
}
