{	margin: 0;
	padding: 0;
}	
body{
	background:url(images/fundal.png);
}
table {
	font-family:Luminari, fantasy;
	  border-spacing: 45px;
	  text-align: center;
	  margin-top: -13vh;
	  margin-left: 50vh;
	  font-size: 20px;
}
a {
	text-decoration: none;
	color: #29D0FF;
}
a:hover {
	color: white;
	transition: 0.3s;
	border-bottom: solid 1px white ;}
H1 
{
 	font-family:Luminari, fantasy;
	 margin-top: -5vh;
	 font-size: 30px;
}